<!DOCTYPE html>
<html>
  <head>
    <title>Manage Cashier | Pharmacy System</title>
    <script>
      let json = localStorage.getItem('info');
      let obj = JSON.parse(json);
      if(json){
        if(obj.pos !== 'admin'){
          location.href = '/'+obj.pos;
        }
      }else{
        location.href = '/login'
      }
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/header-nav.css" />
    <link rel="stylesheet" href="./css/main-with-table.css" />
    <link rel="stylesheet" href="./css/add-form.css" />
    <script src="./js/change-content.js" defer></script>
    <script src="./js/formValidate.js" defer></script>
    
  </head>
  <body>
    <header>
      <div class="logo-cont">
        <img
          src="./assets/logos/logo.png"
          class="main-logo"
          height="75"
          width="75"
        />
      </div>
      <h1>
        <a href="#">Pharmacy System</a>
      </h1>
    </header>
    <aside>
      <ul class="aside-list">
        <li class="list-item"><a href="/admin">Dashboard</a></li>
        <li class="list-item"><a href="/admin/pharmacist">Pharmacist</a></li>
        <li class="list-item"><a href="/admin/manager">Manager</a></li>
        <li class="list-item"><a href="#">Cashier</a></li>
        <li class="list-item"><a href="/logout">Logout</a></li>
      </ul>
    </aside>
    <main>
      <section class="main-content">
        <h2 class="title">Manage Cashier</h2>
        <div class="container">
          <ul class="tabs-list">
            <li class="tab-item active" data-goto="table">
              <h3 class="tab-title">View users</h3>
            </li>
            <li class="tab-item" data-goto="form">
              <h3 class="tab-title">Add user</h3>
            </li>
          </ul>
          <div class="content">
            <table class="tab-content" id="table">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Usernme</th>
                <th>Salary</th>
                <th>Phone</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
              <% if(locals.tableData && locals.tableData.length>0){
                tableData.forEach(row => {%>
              <tr>
                <td><%= row.id %></td>
                <td><%= row.name %></td>
                <td><%= row.uname %></td>
                <td><%= row.salary %></td>
                <td><%= row.phone %></td>
                <td><img src="./assets/updat.svg" alt="update" data-id='<%= row.id %>' class='update'></td>
                <td><img src="./assets/delete.svg" alt="delete" data-id='<%= row.id %>' class='delete'></td>
              </tr>
               <% });
              } %> 
            </table>
            <form class="hidden tab-content" id="form" action="/admin/cashier" method="post">
              <input type="text" name="firstname" class="input" placeholder="Firstname" required/>
              <input type="text" name="lastname" class="input" placeholder="Lastname">
              <input type="number" name="staffId" class="input" placeholder="Staff ID" required>
              <input type="text" name="address" class="input" placeholder="Postal address" required>
              <input type="number" name="salary" class="input" placeholder="Salary" required>
              <input type="tel" name="phone" class="input" placeholder="Phone" required>
              <input type="email" name="email" class="input" placeholder="Email" required>
              <input type="text" name="uname" class="input" placeholder="Username" required>
              <input type="submit" value="ADD"/>
          </form>
          </div>
        </div>
      </section>
    </main>
  </body>
  <script>
     const updates = document.querySelectorAll('.update');
     const deletes = document.querySelectorAll('.delete');

     deletes.forEach(item =>{
       item.addEventListener('click',()=>{
         if(!confirm('Delete ID '+item.dataset.id)){
           return
         }
         let url = location.href +'/'+ item.dataset.id;
         fetch(url,{
           method: 'delete',
         }).then((res)=>{
           location.reload();
         })
       })
     })
  </script>
</html>
